@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
:root{
    --green-board-bg : #14BDAC;
    --white-bg : #F7F7F7;
    --wooden-border: #AF773A;
    --marker : #141010;
    --chalk-white: #E5E7E6;
    --chalky-yellow: #e3f118;
    --chalky-purple:  #9c56dd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: var(--white-bg);
    color: var(--marker);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}
h1{
    margin-top: 0.5em;
    text-align: center;
    border-bottom: 0.24rem solid var(--wooden-border) ;
}
.gameControl{
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.radio{
    height: 20px;
    width: 20px;
    cursor: pointer;
    accent-color: var(--chalky-yellow);
}
#startGame{
    padding: 8px;
    background-color: var(--chalky-purple);
    border-radius: 5px;
    border: 1px solid var(--chalky-purple);
    color: white;
    font-size: 24px;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 02px 2px 1px, rgba(0, 0, 0, 0.09) 3px 4px 2px;
}
.gameBoard{
    background-color: var(--green-board-bg);
    padding: 2em;
    border: 0.8em solid var(--wooden-border);
    width: 60vw;
    height: 100%;
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'Grape Nuts', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.gameContainer{
    height: 450px;
    width:450px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    
}

.cell{
    border-width: 0.2em;
    border-color: var(--chalk-white);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
   
}
.cell.top{
    border-bottom-style: solid  ;
}
.cell.bottom{
    border-top-style: solid  ;
}
.cell.left{
    border-right-style: solid;
}
.cell.right{
    border-left-style: solid;
}

.scores{
    
    text-transform: uppercase;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.scores p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.swap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.player{
}

.colorX{
    color: var(--chalky-purple);
}
.colorO{
    color: var(--chalky-yellow);
}
.drawColor {
    color: var(--marker);
}
.winner{
    margin-bottom: 1.1em;
}
.hidden{
    visibility: hidden  ;
}
#win {
    
    padding: 0.5em;
    font-size: 40px;
    text-align: center;
}