@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid white ;
}


.container{
    height: 450px;
    width:450px;
    display: grid;
    grid-template-columns: repeat(150);
    grid-template-rows: repeat(150);
    
}

.cell{
    border-width: 6px;
    border-color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
   
}
.cell.top{
    border-bottom-style: solid  ;
}
.cell.bottom{
    border-top-style: solid  ;
}
.cell.left{
    border-right-style: solid;
}
.cell.right{
    border-left-style: solid;
}

.scores{
    font-size: 24px;
    text-transform: uppercase;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.scores p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.swap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.player{
}

.colorX{
    color: blueviolet;
}
.colorO{
    color: gold;
}